* {
    font-family: 'Courier New', Courier, monospace;
}

/* NAV CSS */

nav {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1.2em;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.floatright {
    float: right;
}

/* Dropdown */
.dropdown {
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: #fff;
    padding: 1em 1.2em;
    font-size: 16px;
    border: none;
}

.dropbtn:hover {
    background-color: #111;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #a1a1a1;}

.dropdown:hover .dropdown-content {display: block; background-color: #e3e3e3;} /* On hover make dropdown visible */
  
.dropbtn:hover {background-color: 111;}

/* Search Bar */
.search-bar {
    padding: 0.9em 1.1em;   
    border-radius: 4px;
    margin-right: 1em;
}

.search-bar:focus {
    outline: none;
    border: 2px solid #333;
}

/* FOOTER CSS */

.footer {
    bottom: 0;
    min-width: 100vw;
    position: absolute;

    background-color: #555;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-section {
    width: 30%; /* This means that per footer-section it will have 30% width */
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section:nth-child(2) h4 { /* Select 'Quick Links' as 2nd element in CSS class */
    text-align: center;
}

.links:nth-child(2) {
    font-weight: bold;
}

/* .footer-section .links:nth-child(2) {
    
} */
 
.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section .social a {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
}